# Database
DATABASE_URL="postgresql://postgres:22102008@localhost:5432/canteevo?schema=public"

# JWT
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production-minimum-32-chars"
JWT_EXPIRATION="24h"

# Application
NODE_ENV="development"
PORT=3000

# Logging
LOG_LEVEL="debug"
